/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
    touch-action: manipulation;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items to the top */
    min-height: 100vh; /* Ensure full viewport height */
    /* background-color: #f0f0f0; */
    background-image: url("imgFirstPage/back.jpg");    
    background-repeat: no-repeat;               /*NEW*/
    background-position: center;                /*NEW*/
    background-size: cover;
    font-family: Arial, sans-serif;
    padding: 0px; 
    box-sizing: border-box;
    overflow: hidden;
    /* padding-top: 30px; */
    /* ADDED to prevent zooming */
    touch-action: manipulation; /* Prevents all zooming and panning */
}


#counterDisplay {
    font-family: 'Bangers', cursive; /* Более читаемый шрифт */
    font-size: 2em; /* Немного увеличим размер */
    width: 100%;
    text-align: center;
    color: #4a3728; /* Темно-коричневый цвет */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Мягкая тень */
    /* фон */
    /* background: linear-gradient(to bottom, #e9d1b0, #d6ba93); */
    background:none;
    /* Убираем background-clip и text-fill-color */
    /* -webkit-background-clip: text; */
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    margin-bottom: 20px; /* Уменьшим отступ */
}

#counterDisplay::before{
    content: 'Ваши очки:';
}

/* Coin Button */
#coinButton {
    touch-action: none;
    background: none;
    border: none;
    cursor: pointer;
    background-image: url("3506.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /*  Чтобы изображение полностью помещалось в кнопку */
    width: 300px;
    height: 300px;
    /* margin-top: 120px; */
}

/* #coinImage {
    width: 100%;
    max-width: none;
  
    object-fit: cover; 
    animation: jiggle 1s infinite;
} */



.card button {
    touch-action: none; /* Optional: Disable touch actions on specific elements */
    background: none;
    border: none;
    cursor: pointer;
 
    padding: 0;
}


/* Container */
.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; /* Центрируем элементы по горизонтали */
    min-height: 100vh; /* Занимает всю высоту экрана */
    /* padding: 350px;  Удалите это свойство */
    box-sizing: border-box; /* Важно, чтобы отступы не увеличивали размер контейнера */
    position: relative; /* Для позиционирования fixed элементов внутри контейнера */
    justify-content: flex-start; /* Центрируем элементы по вертикали */
    margin-top:  -180px;
}

/* Energy Bar */
#energyBar {
    width: 100%;
    max-width: 300px;
    height: 30px;
    /* background-color: #37474f;  */
    border-radius: 15px; /* Скругленные края */
    overflow: hidden;
    margin-top: 20px;
    position: relative;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  */
}

#energyLevel {
    height: 100%;
    /* background: linear-gradient(to right, rgba(179, 229, 252, 0.8), rgba(255, 255, 255, 0.2)); Светло-голубая роса */
    width: 100%;
    transition: width 0.3s;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 5px #b3e5fc; /* Свечение */
    background-image: url('vodapuz.webp'); /* Путь к изображению */
    /* background-size: cover;  */
     background-size: 200px;  
    background-repeat: repeat; /* Повторять текстуру по горизонтали и вертикали */
}


#energyText {
    position: absolute;
    width: 100%;
    text-align: left;
    color: white;    /* Цвет текста */
    font-weight: bold;
    top: 50%;         /* Vertically center */
    transform: translateY(-50%); /* Adjust for the height of the text */
    padding-left: 5px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Adjust base font size for smaller screens */
    }



    /* ... any other adjustments you need for small screens ... */
}
#upgradeButton {
    position: fixed;
    bottom: 0;
    left: 20%; /* Центрируем по горизонтали */
    /* transform: translateX(-50%);  */
    width: 20%;
    padding: 30px;
    background-image: url("cardupgrade2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: none;
    cursor: pointer;
    background-size: cover;
}

.mining-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    text-align: center;
    padding: 30px; /* This padding will affect the image size */
    background-color: #f7f7f700; /* Transparent background */
    color: white;
    border: none;
    cursor: pointer;

    background-image: url("mining2.jpg");
    background-repeat: no-repeat;
    background-position: center;

    /* Make the image cover the entire button */
    background-size: cover;
}